<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookStore</display-name>
  <servlet>
    <servlet-name>MyFirstServlet</servlet-name>
    <servlet-class>com.ustc.fy.MyFirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFirstServlet</servlet-name>
    <url-pattern>/abc</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ByteServlet</display-name>
    <servlet-name>ByteServlet</servlet-name>
    <servlet-class>com.ustc.fy.ByteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ByteServlet</servlet-name>
    <url-pattern>/byte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownServlet</display-name>
    <servlet-name>DownServlet</servlet-name>
    <servlet-class>com.ustc.fy.DownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VertifyServlet</display-name>
    <servlet-name>VertifyServlet</servlet-name>
    <servlet-class>com.ustc.web.VertifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VertifyServlet</servlet-name>
    <url-pattern>/vertify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getCategory</display-name>
    <servlet-name>getCategory</servlet-name>
    <servlet-class>com.ustc.web.getCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCategory</servlet-name>
    <url-pattern>/getCategory</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AutoLoginFilter</display-name>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>com.ustc.web.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GetBooks</display-name>
    <servlet-name>GetBooks</servlet-name>
    <servlet-class>com.ustc.web.getBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBooks</servlet-name>
    <url-pattern>/getBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.ustc.web.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.ustc.web.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.ustc.web.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.ustc.web.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RangeServlet</display-name>
    <servlet-name>RangeServlet</servlet-name>
    <servlet-class>com.ustc.web.RangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RangeServlet</servlet-name>
    <url-pattern>/range</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressServlet</display-name>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>com.ustc.web.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/address</url-pattern>
  </servlet-mapping>
</web-app>